<h2 class="container">Выберите что вы хотите обновить</h2>
<section id="type_tasks" class="container">
    <button class="btn btn-success btn-md" data-target="#myModalAdd">Задания и типы вопросов</button>

</section>