<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fab fa-node-js fa-3x"></i></h1>
            <p>Войдете или создайте новый аккаунт</p>
            <a href="/users/login" class="btn btn-success btn-sm btn-block mb-2">Войти</a>
            <a href="/users/register" class="btn btn-success btn-sm btn-block mb-2">Регистрация</a>
        </div>
    </div>
</div>